 <!-- pages壁纸切换 -->
 <% if (theme.js.bg.bgchange ){ %>
    <div class="skin-menu no-select" id="mainskin"  style="position: fixed">
        <div class="theme-controls row-container">
            <ul class="menu-list">
                <li id="white-bg"> <i class="fa fa-television" aria-hidden="true"></i></li>
                <li id="sakura-bg"> <i class="iconfont icon-sakura"></i></li>
                <li id="gribs-bg"> <i class="fa fa-slack" aria-hidden="true"></i></li>
                <li id="KAdots-bg"> <i class="iconfont icon-dots"></i></li>
                <li id="totem-bg"> <i class="fa fa-optin-monster" aria-hidden="true"></i></li>
                <li id="pixiv-bg"> <i class="iconfont icon-pixiv"></i></li>
                <li id="bing-bg"> <i class="iconfont icon-bing"></i></li>
                <li id="dark-bg"> <i class="fa fa-moon-o" aria-hidden="true"></i></li>
            </ul>
        </div>
        <div class="font-family-controls row-container">
            <button type="button" class="control-btn-serif selected" data-mode="serif" onclick="mashiro_global.font_control.change_font()">Serif</button>
            <button type="button" class="control-btn-sans-serif" data-mode="sans-serif" onclick="mashiro_global.font_control.change_font()">Sans Serif</button>
        </div>
    </div>   
    <canvas id="night-mode-cover"></canvas> 
        <div class="changeSkin-gear no-select">
        <div class="keys" id="setbtn"> <span id="open-skinMenu"> 切换壁纸 | SCHEME TOOL 
            &nbsp;<i class="iconfont icon-gear inline-block rotating"></i> </span></div>
    </div><!-- skin.end -->
<% } %>