<!-- 阅读时长统计 -->
<span class="post-time">
  <span class="post-meta-item-icon">
    <i class="fa fa-book"></i>
    <span class="post-meta-item-text">字数统计: </span>
    <!-- 安装插件npm install hexo-wordcount --save -->
    <span class="post-count"><%= wordcount(post.content) %>字</span>
  </span>
</span>
<span class="bull">
·</span>
<span class="post-time">
  <span class="post-meta-item-icon">
    <i class="fa fa-coffee"></i>
    <span class="post-meta-item-text">阅读时长≈</span>
    <span class="post-count"><%= min2read(post.content) %>分钟</span>
  </span>
</span>